.rodape {
    align-items: center;
    text-align: center;
}

.rodape-rede__titulo {
    font-size: 20px;
}

.lista-rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
}

.rodape__imagem{
    display: block;
    margin: auto auto;
    width: 50%;
}

.rodape__texto {
    color: var(--branco-padrao);
    margin: 1em 0;
}